on:
  push:
    branches:
    - main
    - develop
    - main-uow 
  pull_request:
    branches:
    - main
    - develop
    - main-uow 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build
      run: dotnet build --configuration Release
